.articles{
    background-color: #F2F2F2;
}

.articles-inner__title{
    margin: 0;
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 200;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
}

.articles-inner__list{
    display: flex;
    justify-content: space-between;
}

.articles-inner__list__item{
    margin-bottom: 130px;
    background-color: white;
}

.articles-inner__list__item__title{
    width: 207px;
    margin: 0;
    margin-top: 8px;
    margin-left: 24px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #2D314D;
    transition: color 0.6s ease;

    &:hover{
        color: #30C88F;
    }
}

.articles-inner__list__item__text{
    width: 100%;
    max-width: 207px;
    margin-top: 8px;
    margin-left: 24px;
    padding-bottom: 24px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 150;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1px;
    color:#9597A5;
}

.articles-inner__list__item__text1{
    width: 100%;
    max-width: 207px;
    margin: 0;
    margin-top: 24px;
    margin-left: 24px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 150;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1px;
    color:#9597A5;
}





@media only screen and (max-width: 426px) {
    .articles-inner{
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
    }
    
    .articles-inner__title{
        max-width: 327px;
        margin-bottom: 20px;
        padding-top: 40px;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
    }
    
    .articles-inner__list{
        display: block;
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
    }
    
    .articles-inner__list__item{
        width: 100%;
        max-width: 327px;
        margin: 0 auto;
    }

    .articles-inner__list__item__img{
        display: block;
        width: 100%;
        max-width: 327px;
        margin: 0 auto;
    }
    
    .articles-inner__list__item__title{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 265px;
        margin-left: 22px;
        margin-top: 8px;
        font-family: $main-fonfamily-Public-Sans;
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
    }
    
    .articles-inner__list__item__text{
        width: 265px;
        margin: 0;
        margin-top: 8px;
        margin-left: 24px;
        padding-bottom: 112px;
        font-family: $main-fonfamily-Public-Sans;
        font-weight: 150;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -1px;
        color:#9597A5;
    }
    
    .articles-inner__list__item__text1{
        width: 265px;
        margin: 0;
        margin-top: 24px;
        margin-left: 24px;
        font-family: $main-fonfamily-Public-Sans;
        font-weight: 150;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -1px;
        color:#9597A5;
    }
}