.hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 595px) calc(50% - 120px);
}

.hero-inner{
    z-index: 2;
    margin: 0 auto;
    max-width: 1440px;
    height: 800px;
    margin-top: 80px;
}

.hero-inner__title {
    width: 404px;
    padding-top: 170px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 200;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    }

.hero-inner__text {
    width: 447px;
    padding-bottom: 64px;
    font-family: $main-fonfamily-Public-Sans;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #2D314D;
}

.hero-inner__img{
    position: absolute;
    z-index: 3;
    top: -185px;
    left: 630px;
}

.hero-inner__span{
    height: 200px;
    padding-bottom: 180px;
}





@media only screen and (max-width: 426px) {
   .hero{
       background-image: url(../images/hero-bg-mobile.png);
       background-repeat: no-repeat;
       background-position: calc(70% + 300px) calc(70% - 0px);
   }
    
    .hero-inner {
        width: 100%;
        max-width: 375px;
        max-height: 400px;
        display: block;
        margin-top: 80px;
        text-align: center;
        margin: 0;
        margin: 0 auto;
    }
    .hero-inner__title {
        max-width: 327px;
        padding-top: 400px;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 35px;
        line-height: 37px;
        letter-spacing: -1px;
        color: #2D314D;
        z-index: 4;
    }
    .hero-inner__text {
        max-width: 327px;
        margin: 0 auto;
        padding-bottom: 14px;
        font-family: $main-fonfamily-Public-Sans;
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -1px;
        z-index: 4;
        color: #2D314D;
    }

    .hero-link {
        display: block;
        max-width: 150px;            
            margin: 0 auto;
            padding: 15px 36px;
            font-size: 8px;
            line-height: 100%;
            border-radius: 30px;   
            z-index: 4;
    }

    // .hero-inner__img {
    //     max-width: 386px;
    //     margin: 0 auto;
    //     position: absolute;
    //     z-index: 3;
    //     top: -15px;
    //     left: 77px;
    // }

}